.cards-details {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .caroussel {
        display: flex;
        align-self: center;
        height: 30em;
        margin-top: 3em;
    }

    .header-cd {
        display: flex;
        flex-wrap: wrap;

        .loc {

            width: 50%;
            order: 1;

            h2 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #FF6060;
                font-size: 2.5em;
                font-weight: 600;
                margin-block-end: 0;
            }

            p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #FF6060;
                font-size: 1.5em;
                font-weight: 500;
                margin-block-start: 0;
            }
        }

        .host {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 50%;
            order: 2;
            margin-left: auto;

            img {
                border-radius: 100px;
                border: 3px solid #FF6060;
                margin-left: 50px;
            }

            span {
                font-size: 25px;
                color: #FF6060;
                width: 2em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .host-image {
                width: 4em;
                height: auto;
            }
        }
    }


    .tag {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5em;
        color: white;
        border-radius: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        order: 3;
        width: 50%;

        span {
            background-color: #FF6060;
            margin-right: 15px;
            width: 8em;
            height: 1.5em;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .rating {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 4;
        width: 50%;
        margin-left: auto;

        .star-filled {
            color: #FF6060;
            border: none;
            font-size: 40px;
        }

        .star-empty {
            color: #E3E3E3;
            border: none;
            font-size: 40px;
        }
    }

    .coll {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;

        .coll-1 {
            width: 45%;
            height: max-content;
        }
        
        .coll-2 {
            width: 45%;
            display: flex;
            justify-content: flex-end;
            height: max-content;
        }

        .collapse-title {
            width: 100%;
            font-size: 20px;
            border-radius: 15px;
        }

        .collapse-content {
            width: 100%;
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {

    .cards-details {
        width: 90%;

        .caroussel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 335px;
            height: 255px;
            border-radius: 15px;
            overflow: hidden;
            object-fit: contain;


            .slideshow-image {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                background-size: cover;
                background-position: center;
            }
        }
        
        .header-cd {
            display: flex;
            width: 100%;

            .loc {
                order: 1;
                width: 100%;

                h2 {
                    font-weight: 400;
                }
            }

            .host {
                order: 4;
                display: flex;
                margin-top: 15px;
                width: fit-content;
                justify-content: flex-end;
                margin-left: auto;

                span {
                    width: min-content;
                    font-size: 20px;
                    font-weight: 300;
                }

                img {
                    margin: 2px;
                }

                .host-image {
                    width: 2.5em;
                }
            }

            .tag {
                order: 2;
                width: 100%;
                border-radius: 5px;

                span {
                    width: max-content;
                    padding: 5px;
                    border-radius: 10px;
                    font-size: 15px;
                }
            }

            .rating {
                order: 3;
                display: flex;
                justify-content: flex-start;
                margin: 0;

                .star-filled {
                    font-size: 20px;
                }
        
                .star-empty {                   
                    font-size: 20px;
                }
            }

        }

        .coll {
            flex-wrap: wrap;
            align-items: center;
            margin: 0;

            .coll-1 {
                width: 100%;
                height: max-content;
                justify-content: flex-start;
            }
            
            .coll-2 {
                width: 100%;
                height: max-content;
                justify-content: flex-start;
            }

            .collapse-title {
                width: 100%;
                border-radius: 10px;
                font-weight: 400;
            }

            .collapse-content {
                width: 100%;
            }
        }
    }

  }
  