.collapse {
    width: 100%;
    height: 25%;
    margin-block-end: 0;
  
    &.expanded {
      height: auto;
    }
  
    .collapse-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #FF6060;
      transition: background-color 0.3s ease;
      cursor: default;
      border-radius: 5px;
      color: #fff;
      font-weight: 500;
      font-size: 30px;
      margin-block-end: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
      &:hover {
        background-color: #FF6060;
        ;
      }
  
      span {
        margin-right: 10px;
      }
    }
  
    .collapse-icon {
        transition: transform 0.4s ease;
        cursor: pointer;
      
        &:hover {
          transform: scale(1.1);
        }
      
        &.expanded {
          transform: rotate(180deg);
        }
      }
  
    .collapse-content {
      background-color: #f6f6f6;
      border: none;
      color: #FF6060;
      font-size: 25px;
      margin-block-start: 0;
      padding: 15px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      transition-duration: 0.6s;

      p {
        margin-block-start: 0;
      }
    }

    .collapse-content.collapsed {
        height: 0;
        padding: 0;
        overflow: hidden;
      }
  }

  @media (max-width: 768px) {
    
    .collapse {
        width: 100%;
        height: 25%;
        margin-block-end: 0;
      
        &.expanded {
          height: auto;
        }
      
        .collapse-title {
          padding: 5px;
          border-radius: 5px;
          font-weight: 500;
          font-size: 15px;   
      
          span {
            margin-right: 10px;
          }
        }
      
        .collapse-icon {
            transition: transform 0.4s ease;
            cursor: pointer;
          
            &:hover {
              transform: scale(1.1);
            }
          
            &.expanded {
              transform: rotate(180deg);
            }
          }
      
        .collapse-content {
          font-size: 15px;
          margin-block-start: 0;
          padding: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          transition-duration: 0.6s;
    
          p {
            margin-block-start: 0;
          }
        }
    
        .collapse-content.collapsed {
            height: 0;
            padding: 0;
            overflow: hidden;
          }
      }
   
  }
  